---
layout: default
title: GitLab.com
suppress_header: true
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/stages/stage-page", locals: { solution: data.stages.stages.gitlab_com, solution_name: "gitlab_com" }
